@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
    }
body {
    background-image: url(../images/bg-intro-mobile.png);
    background-position: center;
    background-color: hsl(0, 100%, 74%);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.component {
    width: 100%;

    .left {
        text-align: center;

        h1 {
            color: white;
            
        }
        p {
            color: white;
        }
    }
    .right {
        .announcement {
            background-color: hsl(248, 32%, 49%);
            border-radius: 10px;
            text-align: center;
            color: white;
            span {
                font-weight: 600;
            }
        }
        .card {
            background-color: white;
            border-radius: 10px;

            input {
                padding: 5px 80px 5px 5px;
                margin: 10px 5px 5px 25px;
            }
            button {
                padding: 5px 60px 5px 60px;
                margin: 10px 5px 5px 25px;
                background-color: hsl(154, 59%, 51%);
                border: none;
            }
            p {
                font-size: 15px;
                text-align: center;

                a {
                    text-decoration: none;
                    color: red;
                }
            }
        }
    }
}
@media only screen and (min-width:1440px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15rem 5rem 5rem 5rem;
    }
    .component {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .left {
            margin: 5rem;
        }
        .right {
            width: 80%;
        .card {
            input {
                padding: 5px 322px 5px 0;
            }
            button {
                padding: 5px 195px 5px 162px;
            }
            p {
                font-size: 10px;
                color: hsl(246, 25%, 77%);
            }
        }
        }
    }
}
